body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.container {
  text-align: center;
}

.background {
  background: black;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 0, 238);
  padding: 10px;
  border-radius: 10px;
}

.btn {
  margin-top: 10px;
  background: rgb(229, 219, 140);
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
}

.hexCode {
  color: rgb(255, 0, 0);
}